:root{
    --c-white:#fff;
    --c-black:#01020a;
    --c-tile:#108c89;
    --c--photon:#88e3e1;
    --c--katal:#7b6a0c;
    --c--pampkin:#f29e00;
    --c--akua:aqua;
    --c--kerot:#d48609;
    --c--elefant:#ccc;
    --c--green:#28a745;
    --c--reed:#f44336;
    --c--hover:#d32f2f;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6b4226;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #6b4226;
  color: white;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--c-tile);
  font-weight: bold;
    background-color: var(--c-photon);
}

.btn-delete {
  background-color: var(--c--kerot);
  color: white;
}
.btn-status {
  background-color: var(--c--green);
  color: white;
}
.btn-details {
  background-color: var(--c-tile);
  color: white;
}
.btn-cancel{
    background-color: var(--c--green);
    color: white;
}

/* стилі для модалки в адм панелі */
.modal{
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content{
  background-color: #fff;
  margin: 10% auto; 
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}
.close {
  color: #333;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
/* фільтер */
.filter{
    padding: 5px;
}